<!doctype html>
<html><head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author"  content="Wing Chan wy">
    <meta name="keywords" content="neo, blockchain, dapps2, cityofzion, antshares">

    <meta charset="utf-8">
    <title>NEO-Futures</title>
</head>
<body>

<h1>Demonstration of retrieving NEO-USD Price</h1>

<p>Please see Github readme for more details: <a href="https://github.com/wy/neo-futures/blob/master/README.md">NEO Futures readme</a></p>

<h2>Pulling from Blockchain</h2>
Data comes from an extract which is being pulled from the Blockchain by a smart contract watcher script.

<p>NEO USD Price: ${{blockchain_USD_Price}} - Last Updated: {{blockchain_human}} (TS:{{blockchain_time}}). Number of agreeing oracles: {{blockchain_n_correct}}</p>

<h2>Pulling from Coin Market API Directly</h2>
<p>Current Time: {{current_time}}</p>
<p>NEO USD Price: ${{USD_Price}} - Last Updated: {{utc_timestamp_human}} (TS:{{last_updated}})</p>
</body>
</html>